@font-face {
  font-family: "BricolageGrotesque";
  src: url("assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("ttf");
}
@font-face {
  font-family: "DMSans";
  src: url("assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("ttf");
}

@import "tailwindcss";

@theme {
  --breakpoint-xxs: 15rem;
  --breakpoint-xls: 22.5rem;
  --breakpoint-xs: 30rem;

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
}

:root {
  font-family: "DMSans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}
.vert-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}

.vert-scroll::-webkit-scrollbar-track {
  background-color: var(--neutral-800);
  border-radius: 15px;
}
.vert-scroll::-webkit-scrollbar-thumb {
  background-color: var(--neutral-700);
  border-radius: 12px;
  /* width: 4px; */
}
.vert-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--neutral-600);
  width: 8px;
}

[data-theme="light"] {
  --main-bg: var(--neutral-0);
  --text-color: var(--neutral-600);
}

[data-theme="dark"] {
  --text-color: var(--neutral-0);
  --main-bg: var(--neutral-900);
}

.text-col {
  color: var(--text-color);
}
